.img {
    width: 480px;
    height: 240px;
    display: block;
}

.consist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.kbzhu {
    display: flex;
    flex-direction: column;
    align-items: center;
}