.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.text {
  max-width: 250px;
  text-align: center;
}

.counter {
display: none;
}

li {
  list-style-type: none;
}